.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6x);
  padding: 0 var(--page-horizontal-padding);
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-4x);
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5x);
  padding: var(--spacing-10x);
  border-radius: var(--rounding-4x);
  background: var(--bg-neutral-1);
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .card {
    padding: var(--spacing-8x);
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4x);
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2-5x);
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefit {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2x);
  color: var(--primitive-primary);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2x);
  margin-top: auto;
}

.buttons :global(.button) {
  width: 100%;
  min-width: 0;
}
